/* Universal Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-size: cover;
    background-color: var(--dark-blue);
    color: var(--primary-text);

    --primary-text: #f5f7fB;
    --dark-blue: #0c0d11;
    --primary-accent: #00e5f6;
    --secondary-accent: #4f9bfa;
    --grey-text-accent: #b7b7b7;
    --gradient-accent-one: #8823ff;
    --gradient-accent-two: #ff4be1;
    --gradient-accent-three: #5d39ff;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
}

h2 {
    letter-spacing: 0.05rem;
    font-size: 2rem;
    
}

p, li, a, h4 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.06rem;
}

p {
    font-weight: 300;
    line-height: 1.75;
}

@media only screen and (max-width: 500px) {
    p, li {
        font-size: 0.95rem;
    }
}

a {
    color: var(--primary-text);
}
a:hover, summary:hover, .game-button:hover {
    cursor: pointer;
}

.thick-underline {
    padding: 0.2rem;
    box-shadow: inset 0 -0.6rem var(--secondary-accent);
    text-decoration: none;
    transition: all 0.3s ease-out;
    font-weight: 600;
}
a.thick-underline:hover {
    box-shadow: inset 0 -1.4rem var(--secondary-accent);
    transition: all 0.3s ease-out;
}

section {
    margin: 7rem 15%;
    padding: 1rem 0;
}

strong {
    color: var(--grey-text-accent);
}


/* Transitions */
.slide-in {
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.6s ease-out;
}

.slide-in.appear {
    opacity: 1;
    transform: translateY(0);
}


/* Header Container (Nav Bar & Header) */
#header-container {
    height: 100vh;
}

#header-container, #non-home-header-container {
    background-image: url("../images/stars.jpg");
    background-size: cover;
}
#header-container::before, #non-home-header-container::before {
    content: "";
    position: absolute;
    background: #1d1e26be;
    width: 100%;
}
#header-container::before {
    height: 100vh;
}
#non-home-header-container, #non-home-header-container::before {
    height: 25rem;
}

#nav-bar, .header {
    position: relative;
}

.header {
    z-index: 10;
}

#nav-bar {
    z-index: 11;
}

/* Header */
.header {
    margin: auto 6%;
    height: 80%; 
}

.header-main-content {
    display: flex;
    align-items: center;
    height: 70%;
}

.title h1 {
    line-height: 4rem;
    font-size: 4.5rem;
    margin: 1rem auto;
}

.title h2 {
    color: var(--grey-text-accent);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.title span {
    color: var(--primary-accent);
}

.scroll {
    margin-top: 4rem;
}

.scroll p {
    color: var(--grey-text-accent);
    text-transform: uppercase;
    font-size: 0.7rem;
}

.scroll img {
    margin-top: 0.4rem;
    height: 1.8rem;
}

#non-home-header-container h1 {
    text-align: center;
    padding-top: 5rem;
}

#non-home-header-container .header {
    margin: auto 0;
}

#non-home-header-container .header-decor {
    height: 3rem;
    padding: 0.5rem;
    box-shadow: 0 -2rem 1.5rem var(--primary-accent);
}

/* Nav Bar */
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    box-sizing: border-box;
}

#nav-bar li {
    display: inline-block;
    padding-left: 1.6rem;
}

#nav-bar a {
    color: var(--secondary-accent);
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

#nav-bar .logo img {
    height: 3.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

#nav-bar .contact-decoration {
    color: var(--dark-blue);
    background: linear-gradient(to right, var(--primary-accent), var(--gradient-accent-one), var(--gradient-accent-two), var(--gradient-accent-three), var(--primary-accent));
    background-size: 400%;
    padding: 0.5rem 0.9rem;
    border-radius: 0.9rem;
}
#nav-bar .contact-decoration:hover {
    animation: color-gradient 4s linear infinite;
}

@keyframes color-gradient {
    0% {
        background-position: 0%;
    }
    40% {
        background-position: 50%;
    }
    80% {
        background-position: 100%;
    }
    100% {
        background-position: 135%;
    }
}

@media only screen and (min-width: 620px) {
    .small-screen {
        display: none;
    }

    #nav-bar .current-page {
        position: relative;
    }
    #nav-bar .current-page::before {
        content: "";
        position: absolute;
        bottom: -1.5px;
        width: 100%;
        height: 1.75px;
        background-color: var(--secondary-accent);
    }
    
    #nav-bar .hover-underline {
        transition: all 0.2s ease-in-out;
        position: relative;
    }
    #nav-bar .hover-underline::before, #nav-bar .hover-underline::after {
        content: "";
        position: absolute;
        bottom: -1.5px;
        width: 0;
        height: 1.75px;
        margin: 5px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.6s;
        opacity: 0;
        background-color: var(--secondary-accent);
    }
    #nav-bar .hover-underline::before {
        left: 50%;
    }
    #nav-bar .hover-underline::after {
        right: 50%;
    }
    #nav-bar .hover-underline:hover::before, #nav-bar .hover-underline:hover::after {
        width: 50%;
        opacity: 1;
    }
}

@media only screen and (max-width: 619px) {
    .large-screen {
        display: none;
    }
    
    .menu-icon {
        width: 3rem;
        height: 2.75rem;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 1rem 0;
        float: right;
        transition: all 0.4s ease-out;
    }
    .menu-icon:hover {
        background-color: #d3e1f32d;
        cursor: pointer;
        transition: all 0.4s ease-out;
    }
    
    .menu-icon div {
        background: linear-gradient(to right, var(--primary-accent), var(--gradient-accent-one));
        width: 2.19rem;
        height: 0.3125rem;
        margin: 0.1875rem 0;
        flex-shrink: 0;
        border-radius: 0.25rem;
    }
    
    #small-screen-nav {
        position: absolute;
        top: 5rem;
        background-color: #0c0d11ee;
        left: -25rem;
        border-radius: 0 1.5rem 1.5rem 0;
        width: 18rem; 
    }
    
    #small-screen-nav.menu-display-open {
        left: 0;
    }
    
    #small-screen-nav li {
        display: block;
        margin: 1.5rem auto;
        padding: 1.25rem;
    }
    
    #nav-bar #small-screen-nav.menu-display-open {
        z-index: 11;
    }
    
    #small-screen-nav, #small-screen-nav.menu-display-open {
        transition: all 1s ease-out;
    }
    
    #small-screen-nav li.collapse-current-page {
        position: relative;
        background-color: #464d5818;
    }
    #small-screen-nav li.collapse-current-page::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0.5rem;
        height: 3.6rem;
        background: linear-gradient(to bottom, var(--primary-accent), var(--gradient-accent-one));
    }
    
    #small-screen-nav li a {
        padding: 1rem 14rem 1rem 0.75rem;
    }

    #small-screen-nav li.small-screen-hover:hover {
      background-color: #464d5818;
      transition: all 0.6s ease-out;
    }
    
    .no-body-scroll {
        height: 100vh;
        overflow-y: hidden;
    }
    
    .blur {
        filter: blur(8px);
        transition: all 0.4s ease-out 0.05s;
    }
    
    .blur-removal {
        transition: all 0.45s ease-out 0.3s;
    }

    .header-decor-blur {
        filter: blur(6px);
        transition: filter 0.2s ease-out;
    }
    .header-decor-blur-removal {
        transition: filter 0.3s ease-out 0.15s;
    }
}

@media only screen and (max-width: 360px) {
    .title h1{
        font-size: 3.75rem;
    }

    #small-screen-nav {
        width: 16rem;
    }

    #small-screen-nav li a{
        padding: 1rem 11rem 1rem 0.75rem;
    }
}


/* Main Content Section */
#skills h2, #projects h2, #contact h2 {
    text-align: center;
}

.section-underline {
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    width: 6rem;
    height: 0.25rem;
    border-radius: 0.1rem;
    background: linear-gradient(to right, var(--primary-accent), var(--gradient-accent-one));
}

.section-underline.center {
    margin: 1.25rem auto 3rem auto;
}

.button-container {
    margin: 1.75rem auto;
}

.button {
    text-decoration: none;
    color: var(--dark-blue);
    background-color: var(--primary-accent);
    text-align: center;
    padding: 0.75rem;
    width: 7.25rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.button:hover {
    background-color: #00e6f6ea;
}

.triangle-pic {
    float: right;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0.7rem;
}

.full-body-triangle-pic {
    max-width: 20rem;
}

.upper-body-triangle-pic {
    max-height: 18rem;
}

@media only screen and (max-width: 800px) {
    .upper-body-triangle-pic {
        max-height: 15rem; 
    }
    .full-body-triangle-pic {
        max-width: 16rem;
    }
}

@media only screen and (max-width: 360px) {
    .upper-body-triangle-pic {
        max-height: 13rem; 
    }

    .full-body-triangle-pic {
        max-width: 13rem;
    }
}


/* About Me Section */
.section-heading p {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    
}

.paragraph-container p {
    margin-top: 1rem;
}

#about-me .timeline {
    position: relative;
    max-width: 1200px;
}
#about-me .timeline::after {
    content: '';
    position: absolute;
    width: 0.25rem;
    background-color: var(--primary-text);
    top: 0;
    bottom: 0;
    margin-left: -0.1875rem;
}

.timeline-event {
    padding: 1rem 3rem;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
}
.timeline-event::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: -0.75rem;
    top: 1rem;
    background-color: var(--primary-text);
    border: 0.2rem solid var(--primary-accent);
    border-radius: 50%;
    z-index: 1;
}

.timeline-event p {
    font-size: 0.9rem;
    margin-top: 0.75rem;
}

@media only screen and (max-width: 570px) {
    #about-me .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

#about-me #skills .section-heading {
    margin: 0 15%;
}

/* Skills Section */
#skills {
    width: 100%;
    margin: 0 0;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    margin: 0 15%;
}

#skills li {
    display: flex;
    margin: 1.75rem 0;
}

#skills li p {
    margin-left: 1.5rem;
    font-family: 'Space Grotesk', sans-serif;
}

#skills li img {
    height: 2rem;
}

@media only screen and (max-width: 750px) {
    .skills-container {
        display: block;
    }
}


/* Projects Section */
#projects summary {
    font-size: 1.4rem;
    margin: 1rem 0;
    font-family: 'Space Grotesk', sans-serif;
}

#projects h3 {
    font-size: 1.5rem;
    margin-top: 3.5rem;
}

#projects summary, #projects h3 {
    letter-spacing: 0.05rem;
}

#projects .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.date {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 0;
    color: var(--secondary-accent);
}

#projects li {
    display: block;
}

#projects img {
    margin-top: 2.5rem;
    max-width: 25rem;
}

#projects .game {
    margin: 1rem auto;
}

#projects img, #projects .game {
    margin-bottom: 2.5rem;
}

/* Project - Game Section*/
.game {
    max-width: 40rem;
}

.game-instructions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}

.game-instructions h4 {
    margin-bottom: 0.5rem;
}

.instruction-box {
    background-color: var(--secondary-accent);
    text-align: center;
    width: 11rem;
    padding: 0.8rem 0.5rem;
    margin: 0.5rem;
}

.instruction-box p {
    font-size: 0.9rem; 
}

.round {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.round-label {
    font-size: 2rem;
    font-weight: 700;
}

.winner-label {
    font-size: 1.3rem;
}

.play-area {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.moves {
    min-width: 18rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-title {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.play-title p {
    font-weight: 700;
}

.player-label {
    font-size: 1.25rem;
}

.computer-move {
    background-color: var(--secondary-accent);
    height: 20rem;
}

#computer-move {
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.user-move {
    border: 0.15rem solid var(--secondary-accent);
    height: 19.7rem;
}

.moves input {
    font-size: 1.25rem;
    text-align: center;
    height: 2.25rem;
    width: 9rem;
    margin-bottom: 1rem;
}

.game-button {
    background-color: var(--secondary-accent);
    color: var(--dark-blue);
    font-weight: 700;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-out;
    border: none;
}
.game-button:hover {
    background-color: #65aaff;
    transition: background-color 0.2s ease-in-out;
}
.game-button:active {
    transform: scale(0.95);
    box-shadow: 0.125rem 0.0625rem 0.75rem #0000002f;
}
.game-button:disabled {
    background-color: #d1d1d1;
    color: #a1a1a1;
    cursor: default;
}

#play, #next-round {
    font-size: 1.1rem;
    padding: 0.75rem 1.25rem;
}

#play {
    margin: 1rem auto;
}

#next-round {
    margin-bottom: 2rem;
}

#error-message {
    color: #ff443d;
    font-size: 0.8rem;
    text-align: center;
}

.next-round-container {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 850px) {
    .moves {
        min-width: 13.5rem;
        padding: 1rem;
    }

    .user-move .play-title {
        margin-bottom: 0.75rem;
    }

    .computer-move {
        height: 16rem;
    }

    .user-move {
        height: 15.7rem;
    }

    .moves input {
        margin-bottom: 0.25rem;
    }

    #error-message {
        max-width: 10rem;
    }  
}

@media only screen and (max-width: 650px) {
    #projects img {
        flex-basis: 15rem;
        max-width: 20rem;
    }

    .play-area {
        flex-wrap: wrap;
    }

    .moves.user-move {
        min-width: 13.2rem;
    }
}

@media only screen and (max-width: 360px) {
    #projects img {
        flex-basis: 12rem;
        max-width: 14rem;
    }
}


/* Hire Me Section */
#hire-me {
    text-align: center;
}


/* Contact Section */
#contact li {
    display: block;
    margin: 1.75rem 0;
}

#contact li, #contact li a {
    font-family: 'Bai Jamjuree', sans-serif;
}

#contact li span, #contact li a {
    margin-left: 0.5rem;
}

#contact li a {
    font-weight: 300;
}

#contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 900px;
}

@media only screen and (max-width: 570px) {
    #contact .container {
        justify-content: center;
        flex-direction: column-reverse;
    }
}


/* Footer Section */
.footer-decor {
    height: 2.75rem;
    padding: 0.5rem;
    margin-bottom: -4.25rem;
    box-shadow: 0 -1.5rem 1rem var(--primary-accent);
    margin-top: 5rem;
}

footer {
    background-color: #1d1e26;
    color: var(--primary-text);
    padding: 1.25rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-content: center;
}
footer::before {
    content: "";
    grid-column: 1;
}

.footer-logo {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo li {
    display: block;
    text-align: center;
    font-size: 0.8rem;
}

.footer-logo img {
    height: 3rem;
    margin-bottom: 0.5rem;
}

.footer-logo .name {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.75rem;
}

.copyright::before {
    content: "\00a9";
    margin-right: 0.3rem;
}

.footer-contact {
    grid-column: 3;
    display: flex;
    justify-content: center;
}

.footer-contact li {
    display: flex;
    margin: 0.8rem;
    align-items: center;
    font-size: 0.7rem;
}

.footer-contact p {
    margin-left: 1rem;
}

.footer-contact img {
    height: 1.25rem;
    width: 1.2rem;
}

.footer-contact img.location-icon {
    height: 1.4rem;
}

@media only screen and (max-width: 619px) {
    footer {
        padding: 2rem 0;
    }

    .footer-contact {
        display: none;
    } 
}

